<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WNSScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11F22EC71C20280300713DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F22EE01C20280400713DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F22EEB1C20280400713DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
